Source: teamcity
Section: misc
Priority: extra
Build-Depends: debhelper (>= 7)
Maintainer: Alexey Efimov <aefimov-box@ya.ru>
Standards-Version: 3.8.3

Package: teamcity-common
Recommends: default-jre, git, subversion, mercurial
Architecture: all
Homepage: https://github.com/aefimov/teamcity-deb
Description: Create teamcity user and put SSH keys/config to him

Package: teamcity-agent
Depends: teamcity-common (= ${binary:Version})
Architecture: all
Homepage: https://github.com/aefimov/teamcity-deb
Description: Create teamcity-agent init.d script and directories for installing TeamCity agents

Package: teamcity-server
Recommends: postfix
Depends: nginx, mysql-server, teamcity-common (= ${binary:Version})
Architecture: all
Homepage: https://github.com/aefimov/teamcity-deb
Description: Install TeamCity server
